body {
  font-family: "Raleway";
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: bottom;
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.top_button:hover {
  color: #333;
}
.detail_sub_button:hover {
  color: #333;
}
.wrapper {
  background-color: #f2f2f2;
}
.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}
.header-inner {
  padding: 15px;
}
.fa-flash {
  color: #4e4e4e;
  float: left;
}
.top_button {
  transition: 0.3s;
  text-align: center;
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
}
.main {
  padding-top: 78px;
}
.title {
  padding: 250px 0 250px 0;
  text-align: center;
}
.main_title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}
.sub_title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}
.center {
  background-color: #74cfae;
}
.center-inner {
  padding-top: 50px;
}
.motif_img {
  float: left;
  width: 40%;
  text-align: center;
}
.center_content {
  width: 60%;
  float: left;
}
.center_title {
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.center_sub_title {
  line-height: 30px;
  font-size: 20px;
  margin-top: 35px;
  color: #fff;
  text-align: center;
  font-family: Lato;
}
.work-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}
.detail_title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
  color: #333;
}
.work_detail {
  margin-bottom: 90px;
}
.detail>li {
  margin-left: 100px;
  float: left;
}
.detail>li:nth-child(3n+1) {
  margin-left: 0;
}
.detail>li:nth-child(n+4) {
  margin-top: 80px;
}
.detail_img {
  opacity: 0.7;
  display: block;
  transition: 0.3s;
}
.detail_img:hover {
  opacity: 1;
}
.detail_sub_content {
  line-height: 30px;
  text-align: center;
  width: 500px;
  float: left;
  font-family: Lato;
  font-size: 17.5px;
}
.detail_sub_button {
  transition: 0.3s;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  width: 90px;
  text-align: center;
  margin-left: 90px;
  float: left;
}
.detail_sub {
  width: 720px;
  margin: 0 auto;
  margin-top: 90px;
}
.skill {
  background-color: #4e4e4e;
}
.skill-inner {
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
}
.skill_title{
  font-size: 24px;
  color: #fff;
  text-align: center;
}
.skill_graph {
  margin-top: 70px;
  display: inline-block;
}
.graph {
  display: inline-block;
  margin-left: 180px;
}
.graph:first-child {
  margin-left: 0;
}
.graph_p {
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
  text-align: center;
}
.bottom {
  display: inline-block;
}
.sns-inner {
  padding: 200px 0 200px 0;
  text-align: center;
}
.bottom>.sns-icon {
  transition: 0.3s;
  display: inline-block;
  width: 185px;
  padding: 30px;
  color:#74cfae;
  text-align: center;
}
.bottom>.sns-icon:hover {
  background-color: #fff;
}
.footer {
  background-color: #74cfae;
}
.footer-inner {
  padding: 20px 0 25px 0;
}
.footer_p {
  text-align: right;
  margin: 0 auto;
  color: #fff;
}
